#content{
        box-sizing:border-box
      }
      body{
        width:100%;height:100%;margin:0;padding:0;
        font-family: 'Share Tech Mono' ;
      }
      .calculator{
        width:98vw;
        border:0.5vw solid;
        border-color:rgba(0,0,0,0.6);
        border-left-color:rgba(0,0,0,0.25);
        border-top-color:rgba(0,0,0,0.1);
        border-radius:1vw;
        background-color:rgb(220,220,220);
        display:block;
        text-align:center;
        border:2px solid;
        margin:1vw;
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


      }

      .display{
        width:90vw;
        height:14vh;
        border:0.5vw solid;
        border-left-color:rgba(0,0,0,0.5);
        border-top-color:rgba(0,0,0,0.3);
        border-radius:1vw;
        padding-right:1vw;
        margin-top:1vh;
        margin-bottom:1vh;
        display:inline-block;
        text-align:right;
        background-color:rgb(255,255,255);

      }

      .button{
        width:29vw;
        height:11vh;
        border:0.5vw solid;
        border-color:rgba(0,0,0,0.6);
        border-left-color:rgba(0,0,0,0.4);
        border-top-color:rgba(0,0,0,0.3);
        border-radius:1vw;
        display:inline-block;
        text-align:center;
        margin:0.5vw;
        margin-top:1vh;
        margin-bottom:1vh;
        cursor:pointer;

  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.35))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */     

 }
      .button div,.display div{  
        position: relative;
        font-size:6vh;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .button:hover{
        background:yellow;
      }
      .n{
        background-color:rgba(255,255,255,0.75);
      }
      .c{
        background-color:rgba(255,0,0,0.5);
      }
      .f{
        background-color:rgba(0,255,0,0.5);
      }